ACIT-3910\ Database\ Administration\ and\ Management/week3/EmployeeDB/EmployeeDB.sql
ACIT-3910\ Database\ Administration\ and\ Management/week3/employees_backup_2018_08_30/employees_backup_2018_08_30.sql
ACIT-3910\ Database\ Administration\ and\ Management/week3
FlashCardBackend
ACIT-3910\ Database\ Administration\ and\ Management/week9/Insert10.sql
ACIT-3910\ Database\ Administration\ and\ Management/week9/Insert300.sql
ACIT-3910\ Database\ Administration\ and\ Management/week9/Insert300noKeys.sql 
ACIT-3910\ Database\ Administration\ and\ Management/week11/lab_databases_and_users.sql
/venv
/node_modules