127.0.0.1 localhost
{% for server in groups['project_count_dyn_inv_demo']%}
{{hostvars[server]['ansible_facts']['default_ipv4']['address']}} {{hostvars[server]['ansible_facts']['nodename']}}
{% endfor %}